/*
 * Default
 * Set the default styles for the page
 */

* {
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 400;
}

body {
	overflow: hidden;
}

h1 {
	font-size: 24px;
	font-weight: 700;
	color: #f9f9f9;

	margin: 40px 30px;
	margin-bottom: 10px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h2 {
	font-size: 16px;
	font-weight: 500;
	color: #f9f9f9;
	margin: 10px 30px;
	background-color: transparent;

	margin-top: 15px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.h2 {
	font-size: 16px;
	font-weight: 500;
	color: #f9f9f9;
	margin: 10px 30px;
	background-color: transparent;

	margin-top: 15px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-thumb {
	background-color: #2e2e2e;

	background-clip: content-box;
	border: 5px solid transparent;

	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
	border: none;
	outline: none;
}
::-webkit-scrollbar-track-piece {
	background-color: transparent;
	border: none;
	outline: none;
}
::-webkit-scrollbar-corner {
	background-color: #313131;
	border: 1px solid transparent;
	outline: none;
}
::-webkit-scrollbar-button {
	background-color: transparent;
	border: none;
	outline: none;
}
::-webkit-resizer {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF77' d='M22 22h-2v-2h2zm0-4h-2v-2h2zm-4 4h-2v-2h2zm0-4h-2v-2h2zm-4 4h-2v-2h2zm8-8h-2v-2h2z'/%3E%3C/svg%3E");
}

/* Textarea */
textarea {
	resize: vertical;

	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;

	font-size: 18px;

	color: #f9f9f9;

	border: 2px solid #3c3c3c;
	border-radius: 5px;

	background-color: transparent;
	background-color: #313131;
	padding: 10px;
	margin: 0px 30px;
}
textarea::placeholder {
	color: #868686;
}
textarea:focus {
	outline: none;
	border: 2px solid #535353;
}
textarea::-webkit-scrollbar-thumb {
	background-color: #414141;
}

/* Checkbox */
input[type='checkbox'] {
	width: 14px;
	height: 14px;
	margin-right: 5px;
}
input[type='checkbox']:hover {
	cursor: pointer;
}
label {
	font-size: 16px;
	color: #f9f9f9;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
label:hover {
	cursor: pointer;
}

/* Dropdown */
.dropdown {
	display: flex;

	justify-content: space-between;

	width: 250px;
	font-size: 18px;

	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;

	background-color: #313131;
	color: #f9f9f9;

	outline: none;
	border: 2px solid #3c3c3c;

	padding: 5px 8px;
}
.dropdown:hover {
	cursor: pointer;
}

.dropdown .arrow {
	content: url('https://api.iconify.design/mingcute/down-fill.svg?width=25&height=25&color=%23f9f9f9');

	width: 25px;
	height: 25px;

	color: #f9f9f9;

	margin-left: 10px;
}

.option {
	visibility: hidden;

	display: flex;
	position: fixed;

	flex-direction: column;

	width: 250px;
	max-height: 300px;

	overflow-y: scroll;
	overflow-x: hidden;

	font-size: 18px;

	text-align: left;

	background-color: #313131;
	color: #f9f9f9;

	outline: 2px solid #3c3c3c;
	/*border: 2px solid #3c3c3c;*/
}

.option li {
	display: flex;

	align-items: center;

	width: 100%;

	white-space: `wrap;
	text-overflow: ellipsis;

	padding: 5px 10px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.option li:hover {
	background-color: #3c3c3c;
	cursor: pointer;
}
.option li.title {
	font-size: 14px;
	color: #999999;
}
.option li.title:not(:first-child) {
	margin-top: 10px;
}
.option li.title:hover {
	background-color: transparent;
	cursor: default;
}
.option li.selected {
	color: #f9f9f9;
	background-color: #2c2c2c;
}
.option::-webkit-scrollbar-thumb {
	background-color: #414141;
}

/* Size Input */
.size {
	display: flex;

	align-items: center;

	padding: 5px;

	background-color: #313131;
	border: 2px solid #3c3c3c;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.size input {
	max-width: 50px;

	font-size: 16px;
	text-align: center;

	background-color: transparent;
	color: #f9f9f9;

	border: none;
	outline: none;
}

.x {
	content: url('https://api.iconify.design/ph/x.svg?width=50&height=50&color=%23f9f9f9');
	width: 15px;
	height: 15px;
}

/* Slider */
input[type='range'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: -webkit-fill-available;
	width: fill-available;

	margin: 0px 30px;

	border: 2px solid #3c3c3c;
	outline: none;

	background-color: #313131;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 11px;
	height: 18px;

	background-color: #949494;
	border: none;

	outline: 2px solid #949494;
	border-radius: 2px;
}
input[type='range']:focus::-webkit-slider-thumb {
	background-color: #0078d4;
	outline: 2px solid #0078d4;
}
input[type='range']:hover {
	cursor: pointer;
}

/* Text Input */
input[type='text'] {
	width: 130px;

	font-size: 18px;
	text-align: left;

	background-color: #313131;
	color: #f9f9f9;

	border: 2px solid #3c3c3c;
	outline: none;

	margin: 0px 30px;

	padding: 5px 10px;
}

/* Password Input */
input[type='password'] {
	width: 150px;

	font-size: 18px;
	text-align: left;

	background-color: #313131;
	color: #f9f9f9;

	border: 2px solid #3c3c3c;
	outline: none;

	margin: 0px 30px;

	padding: 5px 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0px 30px;
}

.plus {
	content: url('https://api.iconify.design/mdi-plus.svg?width=50&height=50&color=%23f9f9f9');
	width: 22px;
	height: 22px;
}

.hidden {
	visibility: hidden;
}

.warning {
	color: #ff3636;
}

.shake {
	animation: shake 150ms 2 linear;
}

@keyframes shake {
	0% {
		transform: translate(3px, 0);
	}
	50% {
		transform: translate(-3px, 0);
	}
	100% {
		transform: translate(0px, 0);
	}
}

#loading {
	display: flex;
	position: fixed;

	justify-content: center;
	align-items: center;

	top: 0px;
	left: 0px;

	z-index: 99999;

	width: 100vw;
	height: 100vh;

	background-color: #181818;

	animation: loading 1s infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	width: 13px;
	height: 13px;
}

.spinner:before {
	content: '';
	box-sizing: border-box;
	display: block;

	width: 35px;
	height: 35px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 6px solid #222222;
	border-top-color: #7a7a7a;
	animation: spinner 0.6s linear infinite;
}

.right {
	content: url('https://api.iconify.design/mingcute/right-small-fill.svg?color=%23f9f9f9');
	width: 50px;
	height: 50px;
}

.left {
	content: url('https://api.iconify.design/mingcute/left-small-fill.svg?color=%23f9f9f9');
	width: 50px;
	height: 50px;
}

#tagSuggest {
	display: block;
	position: fixed;

	visibility: hidden;

	top: 0px;
	left: 0px;

	width: 170px;

	border: 2px solid #3c3c3c;
	border-radius: 5px;

	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);

	z-index: 999;
}

#tagSuggest .item {
	color: #f9f9f9;
	background-color: #313131;

	padding: 5px 12px;
	font-size: 16px;
}

#tagSuggest .item:hover {
	background-color: #3c3c3c;
	cursor: pointer;
}

#tagSuggest .item:nth-child(even) {
	background-color: #2c2c2c;
}

#tagSuggest .item:nth-child(even):hover {
	background-color: #3c3c3c;
}

#tagSuggest .item.selected {
	outline: 1px dotted #f9f9f949;
}

#anals {
	display: flex;
	position: fixed;

	justify-content: center;
	align-items: center;

	top: 43px;
	right: 65px;

	height: 40px;
	padding: 0px 10px;

	background-color: #1f1f1f;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	border-radius: 10px;

	z-index: 999;
}

#anals:hover {
	cursor: pointer;
	background-color: #252525;
}

#anals span {
	font-weight: 700;
	font-size: 16px;
	color: #f5f3c2;
}

#anals span::after {
	content: url('https://novelai.net/_next/static/media/anla.23c99491.svg');
	margin-left: 3px;
}

/* File Input */
input[type='file'] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
input[type='file'] + label {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: fit-content;
	padding: 6px 10px;

	font-size: 16px;
	color: #f9f9f9;

	background-color: #313131;
	border: 2px solid #3c3c3c;
	border-radius: 5px;

	margin: 0px 30px;

	cursor: pointer;
}
input[type='file'] + label span {
	height: 20px;
	width: 20px;
	margin-right: 6px;
	text-align: center;
}
input[type='file'] + label:hover {
	background-color: #3c3c3c;
	border: 2px solid #424242;
}


.upload {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: fit-content;
	padding: 6px 10px;

	font-size: 16px;
	color: #f9f9f9;

	background-color: #313131;
	border: 2px solid #3c3c3c;
	border-radius: 5px;

	margin: 0px 30px;

	cursor: pointer;
}
.upload span {
	height: 20px;
	width: 20px;
	margin-right: 6px;
	text-align: center;
}
.upload:hover {
	background-color: #3c3c3c;
	border: 2px solid #424242;
}

.noside {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.mingcute--paint-brush-fill {
	display: inline-block;
	width: 100%;
	height: 100%;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='m22.017 3.874l-.59 1.581a250.264 250.264 0 0 1-.732 1.697c-.678 1.455-1.612 3.156-2.727 4.33c-1.066 1.12-2.674 2.153-3.962 2.886a4.996 4.996 0 0 1-1.36 4.557c-2.27 2.27-4.806 2.27-6.692 1.71c-1.43-.426-2.606-1.198-3.73-2.148a.394.394 0 0 1 .027-.624l.5-.362c.672-.507 1.325-1.126 1.49-1.955c.115-.925.18-1.43.197-1.513c.138-.689.43-1.471 1.138-2.18a4.996 4.996 0 0 1 4.556-1.36c.733-1.287 1.766-2.895 2.886-3.96c1.174-1.116 2.875-2.05 4.33-2.728l1.697-.733l1.581-.589a1.094 1.094 0 0 1 1.391 1.39ZM11.98 11.293a5.041 5.041 0 0 1 1.227 1.228c.392-.227.795-.473 1.19-.732l-.03-.067a3.312 3.312 0 0 0-.66-.93a3.354 3.354 0 0 0-.817-.603l-.179-.086c-.259.395-.505.798-.732 1.19Zm7.442-6.215c-.383.159-.8.34-1.23.54c-1.408.657-2.866 1.48-3.796 2.364a7.63 7.63 0 0 0-.47.493c.362.2.782.49 1.195.904c.414.413.704.833.904 1.195c.178-.156.344-.313.493-.47c.884-.93 1.707-2.388 2.364-3.797c.2-.43.381-.846.54-1.229'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.mingcute--book-4-fill {
	display: inline-block;
	width: 100%;
	height: 100%;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='m14.112 3.744l7.444 3.761a1.51 1.51 0 0 1 .763 1.775c-.39 1.331-.347 1.89-.092 2.521c.257.638.079 1.449-.587 1.87l-10.284 6.51c-.431.273-.98.315-1.457.082l-3.84-1.895l-1.604-.805l-1.14-.582l-.696-.365l-.36-.196l-.261-.15C.978 15.655.66 14.405.666 13.45c.004-.971.338-2.184 1.265-2.85l.3-.207l.858-.561l2.045-1.306l7.508-4.715a1.499 1.499 0 0 1 1.47-.066Zm5.921 6.944l-8.673 5.49l-.108.063l-.111.052c-.11.408-.148.701-.144.973c.002.162.02.328.055.517l.042.197l9.148-5.79l-.072-.249a4.27 4.27 0 0 1-.138-.996zM2.8 12.678a2.256 2.256 0 0 0-.134.78c-.003.672.237 1.023.365 1.1l.308.175l.626.333l1.77.903L9.01 17.6a4.584 4.584 0 0 1-.014-.303a5.01 5.01 0 0 1 .114-1.113l.067-.288zm11.164-5.764a1 1 0 0 0-1.028 1.712l.1.06l2.1 1.1a1 1 0 0 0 1.028-1.712l-.1-.06z'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.mingcute--search-line {
	display: inline-block;
	width: 24px;
	height: 24px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M10.5 2a8.5 8.5 0 1 0 5.262 15.176l3.652 3.652a1 1 0 0 0 1.414-1.414l-3.652-3.652A8.5 8.5 0 0 0 10.5 2M4 10.5a6.5 6.5 0 1 1 13 0a6.5 6.5 0 0 1-13 0'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.mingcute--user-3-fill {
	display: inline-block;
	width: 100%;
	height: 100%;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M12 13c2.396 0 4.575.694 6.178 1.672c.8.488 1.484 1.064 1.978 1.69c.486.615.844 1.351.844 2.138c0 .845-.411 1.511-1.003 1.986c-.56.45-1.299.748-2.084.956c-1.578.417-3.684.558-5.913.558s-4.335-.14-5.913-.558c-.785-.208-1.524-.506-2.084-.956C3.41 20.01 3 19.345 3 18.5c0-.787.358-1.523.844-2.139c.494-.625 1.177-1.2 1.978-1.69C7.425 13.695 9.605 13 12 13m0-11a5 5 0 1 1 0 10a5 5 0 0 1 0-10'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.mingcute--bear-fill {
	display: inline-block;
	width: 100%;
	height: 100%;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036c-.01-.003-.019 0-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M18.5 2a3.5 3.5 0 0 1 1.796 6.505A9 9 0 1 1 3 12c0-1.24.25-2.42.704-3.495a3.5 3.5 0 1 1 4.8-4.8A8.972 8.972 0 0 1 12 2.999c1.24 0 2.42.25 3.495.704A3.498 3.498 0 0 1 18.5 2M12 12a1.5 1.5 0 0 0-1.012 2.608a.5.5 0 0 1-.488.392a1 1 0 1 0 0 2a2.49 2.49 0 0 0 1.5-.5c.418.314.937.5 1.5.5a1 1 0 1 0 0-2a.5.5 0 0 1-.488-.392A1.5 1.5 0 0 0 12 12M9 8a1 1 0 0 0-1 1v1a1 1 0 1 0 2 0V9a1 1 0 0 0-1-1m6 0a1 1 0 0 0-.993.883L14 9v1a1 1 0 0 0 1.993.117L16 10V9a1 1 0 0 0-1-1'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.mingcute--hat-fill {
	display: inline-block;
	width: 100%;
	height: 100%;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='m5.03 13.701l.71-5.69a3 3 0 0 1 3.566-2.57c.857.172 1.818.52 2.694.52c.876 0 1.837-.348 2.694-.52a3 3 0 0 1 3.565 2.57l.712 5.69C20.107 13.985 22 14.535 22 16c0 1.596-2.213 2.122-3.42 2.39c-1.718.382-4.044.61-6.58.61c-2.536 0-4.862-.228-6.58-.61C4.212 18.122 2 17.596 2 16c0-1.465 1.893-2.015 3.03-2.299m.823 2.737c-.625-.139-1.11-.29-1.455-.438c.345-.148.83-.3 1.455-.438C7.391 15.22 9.565 15 12 15s4.609.22 6.147.562c.625.139 1.11.29 1.455.438c-.344.148-.83.299-1.455.438C16.609 16.78 14.435 17 12 17s-4.609-.22-6.147-.562'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.mingcute--body-line {
	display: inline-block;
	
	width: 100%;
	height: 100%;

	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='m17.068 2.001l.116.013a1 1 0 0 1 .822 1.15c-.43 2.58.088 5.416 1.428 8.43c1.174 2.643.82 5.424-.455 8.064a13.59 13.59 0 0 1-.632 1.165l-.232.364a7.37 7.37 0 0 1-.306.427a1 1 0 0 1-1.65-1.124l.072-.104c.361-.503.678-1.04.947-1.598c.79-1.636 1.143-3.297.879-4.883c-1.91.469-3.041 1.307-3.753 2.35c-.813 1.19-1.175 2.786-1.305 4.79a1.004 1.004 0 0 1-1 .955c-.53 0-.975-.425-.998-.956c-.13-2.003-.492-3.598-1.305-4.79c-.708-1.036-1.829-1.87-3.717-2.34c-.261 1.583.092 3.242.88 4.874c.215.445.458.882.734 1.294l.213.304a1 1 0 0 1-1.578 1.228a7.371 7.371 0 0 1-.306-.427l-.232-.364c-.2-.328-.417-.72-.632-1.165c-1.274-2.64-1.63-5.421-.455-8.064c1.34-3.014 1.858-5.85 1.428-8.43a1 1 0 1 1 1.972-.328c.482 2.89-.04 5.971-1.4 9.174c2.197.575 3.73 1.632 4.745 3.117c.252.37.468.76.652 1.167c.184-.407.4-.797.652-1.167c1.019-1.493 2.564-2.553 4.778-3.126c-1.356-3.2-1.878-6.278-1.396-9.165A1 1 0 0 1 17.068 2ZM12 8a1 1 0 1 1 0 2a1 1 0 0 1 0-2'/%3E%3C/g%3E%3C/svg%3E");

	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.dash-line {
	display: block !important;

	top: 0;
	left: 0;

	width: 100%;
	aspect-ratio: 1/1;

	z-index: 1;

	background-image: url("/assets/dash-line.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.mingcute--down-small-line {
	display: inline-block;
	width: 24px;
	height: 24px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.105.074l.014.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.092l.01-.009l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M8.465 10.293a1 1 0 0 1 1.414 0L12 12.414l2.121-2.121a1 1 0 0 1 1.415 1.414l-2.829 2.829a1 1 0 0 1-1.414 0l-2.828-2.829a1 1 0 0 1 0-1.414'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

#maintenance {
	display: none;
	position: fixed;

	flex-direction: column;

	justify-content: center;
	align-items: center;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-color: #181818;
	color: #f9f9f9;

	font-size: 18px;

	z-index: 999999;
}
#maintenance h1 {
	font-size: 65px;
	margin: 0;
	margin-bottom: -17px;
}

.mingcute--download-2-fill {
	display: inline-block;
	width: 20px;
	height: 20px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M20 14.5a1.5 1.5 0 0 1 1.5 1.5v4a2.5 2.5 0 0 1-2.5 2.5H5A2.5 2.5 0 0 1 2.5 20v-4a1.5 1.5 0 0 1 3 0v3.5h13V16a1.5 1.5 0 0 1 1.5-1.5m-8-13A1.5 1.5 0 0 1 13.5 3v9.036l1.682-1.682a1.5 1.5 0 0 1 2.121 2.12l-4.066 4.067a1.75 1.75 0 0 1-2.474 0l-4.066-4.066a1.5 1.5 0 0 1 2.121-2.121l1.682 1.682V3A1.5 1.5 0 0 1 12 1.5'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.mingcute--thumb-up-2-line {
	display: inline-block;
	width: 24px;
	height: 24px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M9.821 3.212c.296-.69 1.06-1.316 2.024-1.13c1.474.283 3.039 1.401 3.149 3.214L15 5.5V8h2.405a4 4 0 0 1 3.966 4.522l-.03.194l-.91 5a4 4 0 0 1-3.736 3.28l-.199.004H6a3 3 0 0 1-2.995-2.824L3 18v-6a3 3 0 0 1 2.824-2.995L6 9h1.34zM7 11H6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h1zm4.625-6.92l-2.544 5.937a1 1 0 0 0-.072.259L9 10.41V19h7.496a2 2 0 0 0 1.933-1.486l.035-.156l.91-5a2 2 0 0 0-1.82-2.353L17.405 10H15a2 2 0 0 1-1.995-1.85L13 8V5.5c0-.553-.434-1.116-1.205-1.37z'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.mingcute--download-2-line {
	display: inline-block;
	width: 24px;
	height: 24px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M20 15a1 1 0 0 1 1 1v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4a1 1 0 1 1 2 0v4h14v-4a1 1 0 0 1 1-1M12 2a1 1 0 0 1 1 1v10.243l2.536-2.536a1 1 0 1 1 1.414 1.414l-4.066 4.066a1.25 1.25 0 0 1-1.768 0L7.05 12.121a1 1 0 1 1 1.414-1.414L11 13.243V3a1 1 0 0 1 1-1'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}