@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;700&display=block');
@import "default.css";
@import "sidebar.css";
@import "result.css";
@import "login.css";

body {
	width: 100vw;
	height: 100vh;

	overflow: hidden;

	padding: 0;
	margin: 0;

	background-color: #181818;
}

.container {
	display: block;

	width: 100vw;
	height: 100vh;

	overflow: hidden;

	padding: 0;
	margin: 0;
}

#background {
	display: block;
	position: fixed;

	top: 0px;
	left: 0px;

	width: 100vw;
	height: 100vh;

	z-index: 999;

	background-color: #181818;
}

/* Mobile */
@media (max-width:480px) {
	h1 {
		margin-top: 40px;
	}
	#firstTitle {
		margin-top: 5px;
	}

	#sidebar {
		position: fixed;
		bottom: 0px;

		width: 100vw;
		height: 120px;

		border: none;

		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

		transition: height 0.4s ease;
	}
	#sidebar.expanded {
		height: 70vh;
		bottom: 70px;
	}

	#dropdown_imgsize {
		width: 220px;
	}

	h1, h2, textarea, .row, input[type="range"], .rowcb {
		margin-left: 20px;
		margin-right: 20px;
	}

	#generate {
		margin: 0px 20px;
	}
	
	#maid {
		display: none;
	}

	.up {
		content: url('https://api.iconify.design/mingcute/up-small-fill.svg?color=%23f9f9f9');
		width: 40px;
	}

	#expand {
		display: flex;
		width: 100%;
		height: 45px;

		justify-content: center;
	}

	#sidebar .footer {
		position: fixed;
		bottom: 0px;
		height: 90px;

		border-top: 2px solid #1f1f1f;

		box-shadow: none;
	}

	#image {
		position: fixed;

		top: 0px;
		left: 0px;
		
		width: 100vw !important;
		height: calc(100vh - 120px);
	}

	#info {
		padding: 10px;
	}

	#login {
		width: 100vw;
		height: 100vh;
	}
}

/* Tablet */
@media (min-width: 480px) and (max-width:1023px) {
	h1 {
		margin-top: 40px;
	}
	#firstTitle {
		margin-top: 5px;
	}

	#sidebar {
		position: fixed;
		bottom: 0px;

		width: 100vw;
		height: 120px;

		border: none;

		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

		transition: height 0.4s ease;
	}
	#sidebar.expanded {
		height: 70vh;
		bottom: 70px;
	}

	#dropdown_imgsize {
		width: 220px;
	}

	h1, h2, textarea, .row, input[type="range"], .rowcb {
		margin-left: 20px;
		margin-right: 20px;
	}

	#generate {
		margin: 0px 20px;
	}
	
	#maid {
		display: none;
	}

	.up {
		content: url('https://api.iconify.design/mingcute/up-small-fill.svg?color=%23f9f9f9');
		width: 40px;
	}

	#expand {
		display: flex;
		width: 100%;
		height: 45px;

		justify-content: center;
	}

	#sidebar .footer {
		position: fixed;
		bottom: 0px;
		height: 90px;

		border-top: 2px solid #1f1f1f;

		box-shadow: none;
	}

	#image {
		position: fixed;

		top: 0px;
		left: 0px;
		
		width: 100vw !important;
		height: calc(100vh - 120px);
	}

	#info {
		padding: 10px;
	}
}