@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;700&display=block');
@import "default.css";
@import "sidebar.css";
@import "result.css";
@import "login.css";

.container {
	display: block;

	width: 100vw;
	height: 100vh;

	overflow: hidden;

	padding: 0;
	margin: 0;
}

#background {
	display: block;
	position: fixed;

	top: 0px;
	left: 0px;

	width: 100vw;
	height: 100vh;

	z-index: 999;

	background-color: #181818;
}